body{
  max-width: 100%;
  width: 100%;
  margin: 0; 
  height: 100%;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed; /* Keeps it fixed even when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('paper.jpeg') no-repeat center center/cover;
  opacity: 0.7; /* Adjust transparency */
  z-index: -1; /* Ensures it stays behind content */
}

.display-word {
  width: 35%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  background-color: transparent;
  font-family: "Patrick Hand", serif;
  font-weight: 200;
  font-size: 30pt;
  font-style: normal;
  height: 200px;
  /* text-align: center;
  display: flex;
  align-content: center; */
  padding: 1%;
}

.flip-card {
  margin: auto;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-size: 40pt;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-content: center;
  border: 1px solid black;
  border-radius: 30px;
  flex-wrap: wrap;
  position: relative;
}

/* .patrick-hand-regular {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-style: normal;
} */

p {
  margin-left: -10px;
  padding: 0pt;
}

img {
  margin-top: 5%;
}

.wkst {
  margin: 0;
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wkst input {
  border: 0;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-size: 80pt;
  font-style: normal;
  color: black;
  text-align: center;
  background-color: transparent;
  outline: none;
}

.line {
  position: absolute;
  /* border: 2px dashed black; */
  border: 2px dashed transparent;
    border-image: repeating-linear-gradient(
        to right,
        #bf0000 0px,
        #bf0000 10px,
        transparent 10px,
        transparent 20px
    ) 1;
  height: 0px;
  cursor: pointer;
  margin-top: 3.85%;
  width: 100%;
  z-index: -1;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  height: 100%;
}

#word {
  width: 100%;
}

form {
  width: 100%;
}

#button {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

button {
  font-family: "Patrick Hand", serif;
  font-weight: 200;
  font-size: 20pt;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

h1 {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-size: 40pt;
  margin: 0;
}

h2 {
  font-family: "Patrick Hand", serif;
  font-weight: 100;
  font-size: 20pt;
  margin: 0;
}

#SpecimenTitle {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
}

#Title {
  margin-top: 30px;
  text-align: center;
}

#Title h1 {
  font-size: 100px;
  color: #bf0000;
}

.display {
  display: grid;
  column-gap: 0;
  row-gap: 20px;
  grid-template-columns: 350px 350px 350px 350px;
  width: 100%;
  margin-left: 2%;
}

.displayfield {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}